.csv
Lectura/sample_submission.csv
Lectura/vehicles.csv
Lectura/train.csv
Lectura/test.csv
Lectura/vehicles_short.csv
.zip
Practica2/vehicles_short.zip
Practica1-AM/HazClasificacion/bin/mx/izt/uam/am/Clasifica.class
Practica1-AM/HazClasificacion.zip
